<%- include('../partials/header.ejs') %> 
<body>
   <div class="row justify-content-center "  style="height: 90vh;">
    <div class="col-lg-3 col-sm-6 col-8 m-auto align-self-center">

        <form action="/registrarCliente/update/<%= data[0].cliente_id %>" method="post">
            <input class="form-control mb-2" type="text" name="nombre" value="<%=data[0].cliente_nombre%>"/>
            <input class="form-control mb-2" type="text" name="apellido" value="<%=data[0].cliente_apellido%>"/>
            <input class="form-control mb-2" type="number" name="dniCliente"  value="<%=data[0].cliente_dni%>"/>
            <div class="d-flex ">

                <button class="btn btn-danger m-auto d-block " ><a class="text-body-tertiary" href="/registrarCliente">Volver</a></button>
                <button class="btn btn-info m-auto d-block text-body-tertiary" type="submit">Save Client</button>
            </div>
        </form>
        <% if(typeof validaciones != 'undefined') { %>
            <% validaciones.forEach( (validacion) => {  %> 
            <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                <strong><%= validacion.msg %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% }) %>
        <% } %>
        
    </div>
    
</div> 
</body>
